@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --border-color: #9eadba;
  --sidebar-color: #b2acfa;
  --button-color: #6558f5;
}
.App {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 0.5fr 15fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-color);
}
.main {
  grid-area: main;
  margin: 1.5rem 0.5rem;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  border: 2px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 0.2fr 1fr 0.1fr 0.5fr;
  grid-template-areas:
    "header header"
    "options options"
    "content-box-left content-box-right"
    "advices-title advices-title"
    "advices advices";
  grid-gap: 0.5rem;
  grid-column-gap: 3rem;
}
.header {
  grid-area: header;
}
.header .title {
  margin: 0rem 0.5rem;
  font-weight: bold;
}
.header .sub-title {
  margin: -0.2rem 0.5rem;
  color: var(--border-color);
}
.options {
  grid-area: options;
}
.options-title {
  margin: 0rem;
}
.opt-inline {
  display: inline;
  margin: 0.5rem;
  font-weight: bold;
}
.hlight {
  padding-bottom: 0.5rem;
  color: var(--button-color);
  border-bottom: 3px solid var(--button-color);
}
.options-clicked {
  margin: 1.5rem 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--border-color);
}
.options-clicked .header {
  margin: 0rem 1rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advisor {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "advisor-photo advisor-name"
    "advisor-photo advisor-name";
  align-items: center;
}
.advisor-photo {
  grid-area: advisor-photo;
  margin: auto;
}
.advisor-photo .circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #dadfe4;
}
.circle svg {
  height: 100%;
  display: block;
  margin: auto;
  color: var(--border-color);
}
.advisor-name {
  grid-area: advisor-name;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.advisor-name .span {
  margin-top: -0.3rem;
  margin-left: 0.1rem;
  /* color: var(--border-color); */
  font-size: 0.8rem;
  /* font-weight: bold; */
}
.rating-follow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "rating"
    "follow";
}
.rating-follow .rating {
  margin: 0rem auto;
  color: var(--border-color);
}
.rating .checked {
  color: var(--button-color);
}
.rating-follow .follow {
  margin-top: 0.2rem;
  padding: 0.4rem 1.5rem;
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: var(--button-color);
}
.options-clicked .details {
  margin: 1rem 0.5rem;
  font-size: 0.8rem;
}
.content-box-left {
  grid-area: content-box-left;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--border-color);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.1fr;
  grid-template-areas:
    "dropdown"
    "doughnut"
    "horizontal-bar";
}
.dropdown {
  grid-area: dropdown;
  text-align: right;
}
.dropdown-button {
  box-shadow: 0 0 3px var(--border-color);
}
.doughnut {
  grid-area: doughnut;
}
.horizontal-bar {
  grid-area: horizontal-bar;
}
.content-box-right {
  margin-right: 1.5rem;
  grid-area: content-box-right;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--border-color);
}
.advices-title {
  grid-area: advices-title;
  margin: 0.5rem 0.5rem;
  font-size: 1.1rem;
}
.advices {
  grid-area: advices;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "advices-menu-block1 advices-menu-block2 advices-menu-block3";
  grid-gap: 0.5rem;
  grid-column-gap: 1.5rem;
}
.advices-menu-block1 {
  grid-area: advices-menu-block1;
  border: 2px solid var(--border-color);
}
.advices-menu-block2 {
  grid-area: advices-menu-block2;
  border: 2px solid var(--border-color);
}
.advices-menu-block3 {
  grid-area: advices-menu-block3;
  border: 2px solid var(--border-color);
}
.advices-menu-block-in-css {
  padding: 0.8rem;
}
.flex-1,
.flex-3,
.flex-4,
.flex-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-1 .bank-nifty-trade {
  font-size: 1.2rem;
  font-weight: bold;
}
.flex-1 .more-button {
  /* content: "\f178"; */
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: var(--button-color);
}
.flex-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.flex-2 .entry {
  margin: 0rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.05rem 0.6rem;
  color: springgreen;
  border: 2px solid springgreen;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
}
.flex-2 .prediction {
  margin: 0rem;
  margin-top: 0.5rem;
  padding: 0.05rem 0.6rem;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
}
.flex-bottom-content .left-head {
  margin: 0.3rem 0.5rem;
  font-size: 1rem;
}
.flex-bottom-content .right-value {
  margin: 0.3rem 0rem;
  font-size: 1rem;
}

@media only screen and (max-width: 1100px) {
  .App {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25fr;
    grid-template-areas:
      "sidebar"
      "main";
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr 1.5fr 0.25fr 4fr;
    grid-template-areas:
      "header"
      "options"
      "content-box-left"
      "content-box-right"
      "advices-title"
      "advices";
  }
  .content-box-right {
    margin-right: 0rem;
  }
  .advices {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "advices-menu-block1"
      "advices-menu-block2"
      "advices-menu-block3";
  }
}
